body {
    color: white;
    background: black;
    margin: 0px;
    font-family: "Sedgwick Ave Display", cursive;
    margin-bottom: 100px;
}

header {
    border-bottom: solid 1px #e00031;
    padding: 25px;
    font-size: 45px;
    color: #e00031;
}

.chamada {
    color: #00a1df;
    background: #2e4454;
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

h1 {
    font-size: 34px;
}

img{
    height: 200px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria {
    padding-left: 25px;
    padding-right: 45px;
    margin-top: 50px;
}

h2 {
    color: #00a1df;
}

.categoria-videos img {
    opacity: 0.5;
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 1px solid #00a1df;

.categoria h2{
    color: #e00031;
}